﻿@using MicrosoftGraphCore.Graph
@model DailyViewModel

@{
    bool dateCellAdded = false;
    var timeFormat = User.GetUserGraphTimeFormat();
    var rowClass = Model.Day.Date.Equals(DateTime.Today.Date) ? "table-warning" : "";
}

@if (Model.Events.Count() <= 0)
{
    // Render an empty row for the day
    <tr>
        <td class="calendar-view-date-cell">
            <div class="calendar-view-date float-left text-right">@Model.Day.Day</div>
            <div class="calendar-view-day">@Model.Day.ToString("dddd")</div>
            <div class="calendar-view-month text-muted">@Model.Day.ToString("MMMM, yyyy")</div>
        </td>
        <td></td>
        <td></td>
    </tr>
}

@foreach(var item in Model.Events)
{
    <tr class="@rowClass">
        @if (!dateCellAdded)
        {
            // Only add the day cell once
            dateCellAdded = true;
            <td class="calendar-view-date-cell" rowspan="@Model.Events.Count()">
                <div class="calendar-view-date float-left text-right">@Model.Day.Day</div>
                <div class="calendar-view-day">@Model.Day.ToString("dddd")</div>
                <div class="calendar-view-month text-muted">@Model.Day.ToString("MMMM, yyyy")</div>
            </td>
        }
        <td class="calendar-view-timespan">
            <div>@item.Start.ToString(timeFormat) - @item.End.ToString(timeFormat)</div>
            @if (item.Start.Date != Model.Day.Date)
            {
                <div class="calendar-view-date-diff">Start date: @item.Start.Date.ToShortDateString()</div>
            }
            @if (item.End.Date != Model.Day.Date)
            {
                <div class="calendar-view-date-diff">End date: @item.End.Date.ToShortDateString()</div>
            }
        </td>
        <td>
            <div class="calendar-view-subject">@item.Subject</div>
            <div class="calendar-view-organizer">@item.Organizer</div>
        </td>
    </tr>
}