﻿@using MicrosoftGraphCore.Graph
@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET GRAPH CORE</h1>
    <p class="lead">use the Microsoft Graph API to access a user's data from ASP.NET Core</p>
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Welcome @User.GetUserGraphDisplayName()!</h4>
        <p>Use the navigation bar at the top of the page to get started.</p>
    }
    else
    {
        <a class="btn btn-primary btn-large" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Click here to sign in</a>
    }
</div>